* {
  margin: 0;
}

.header-container {
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 7rem;
  border-bottom: 2px solid black;
}

.header-container h1 {
  text-align: center;
  font-size: 2em;
}

.bridge-list-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}


.list-item-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  border: 1px solid black;
  box-sizing: border-box;

}

.list-item-container h3 {
  
  text-decoration: underline;
}

.locatie {
  background-color: rgb(255, 255, 255);
  height: fit-content;
  text-align: center;
}

.locatie p {
  margin-top: 0px;
}

.list-item-container a {
  align-self: flex-end;
}