@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

:root {
  --card1: #e6e1e1;
  --card2: #ff1f01;
  --cardtext: #000000;
  --cornerIcon: #000000;
  --background: rgb(18, 82, 55);
  --mainFont: 'Yanone Kaffeesatz', sans-serif;
  --cardFont: 'Yanone Kaffeesatz', sans-serif;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  background: linear-gradient(to right, #213d28 0%, #2F3E31 100%);
}

.header-container {
  background: url("brug2.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: top;
  transform-origin: center top;
}

.text-container {
  background-color: #00000094;
  padding-top: 100px; 
  padding-bottom: 100px; 
}

.text-container h1 {
  color: #ffffff;
  font-size: 40px;
  padding: 10px 10px 10px 10px;
  letter-spacing: 20px;
  text-align: center;
}

.text-container p {
  color: #ffffffe3;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.input-container {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.bridge-list-container {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(6, 120fr);
  grid-template-rows: repeat(4, 200fr);
  grid-auto-flow: row;
  grid-row-gap: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: linear-gradient(to right, #213d28 0%, #2F3E31 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  background-color: #00000000;
  margin: auto 0;
  width: 140px;
  height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  margin-top: 10px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
}

.card__inner.is-flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card__face--front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__face--back {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__content {
  background-color: var(--card1);
  width: 100%;
  height: 100%;
  -ms-grid-columns: 140px;
  grid-template-columns: 140px;
  -ms-grid-rows: 70px 0px 100px 0px 50px;
  grid-template-rows: 70px 100px 50px
}

.card__header {
  color: var(--cardtext);
  height: 65px;
  width: 140px;
  position: relative;
  text-align: center;
  padding: 12px 10px 15px;
  font-size: 8px;
  text-decoration: underline;
  letter-spacing: 1.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.card__body {
  margin: 0 auto;
  margin-top: 10px;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 15px 5px 0px 5px;
  font-size: 14px;
  background-color: var(--card1);
  color: var(--cardtext);
  border-radius: 5%;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon1 {
  color: var(--cornerIcon);
  margin-left: 10px;
  padding-top: 10px;
}

.icon2 {
  color: var(--cornerIcon);
  margin-right: 10px;
  padding-top: 10px;
}

.icon3 {
  color: rgba(0, 0, 0, 0.466);
  padding-top:10px
}

.input-search {
  margin-top: 10px;
} 

nav {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  padding-bottom: 12px;
  padding-top: 10px;
  padding-left: 5px;
}


nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 40px 0 0;
  opacity: .4;
  transition: all 0.4s ease;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: .2em;
  font-size: 8px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

nav li:hover {
opacity: 0.7;
}

nav li:active {
  opacity: 1;
}

nav li:last-child {
margin-right: 0;
}

.collection-wrapper {
  height: 100vh;
  margin: 0 auto;
}

.collection-wrapper h1 {
  text-align: center;
  padding-top: 200px;
}

.contact-wrapper {
  height: 100vh;
  margin: 0 auto;
}

.contact-wrapper h1 {
  text-align: center;
  padding-top: 200px;
}



.rate-no-show {
  position: fixed;
  background-color: var(--card1);
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  height: 80%;
  width: 70%;
  border-radius: 5%;
  visibility: hidden;
  -webkit-transition: visibility 1s linear;
    -moz-transition: visibility 1s linear;
    -o-transition: visibility 1s linear;
    transition: visibility 1s linear
}

.rate-show {
  position: fixed;
  background-color: var(--card1);
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 80%;
  width: 70%;
  border-radius: 5%;
  visibility:visible;
  -webkit-transition: visibility 1s linear;
    -moz-transition: visibility 1s linear;
    -o-transition: visibility 1s linear;
    transition: visibility 1s linear;
}

.rate-content {
  -ms-grid-columns: 140px;
  grid-template-columns: 140px;
  -ms-grid-rows: 70px 0px 100px 0px 50px;
  grid-template-rows: 70px 100px 50px
}

.rate-header {
  font-family: var(--cardFont);
  font-size: 0.7em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

.rate-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items:center ;
  position: relative;
  min-width: 200px;
  margin: 10px 2%;
}

.select-container:after {
    color: black;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #000000;
    position: absolute;
    pointer-events: none;
}

.select-container label {
  font-size: 20px;
  font-family: var(--cardFont);
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-family: var(--cardFont);
  font-size: 18px;
  line-height: 1.75;
  color: black;
  background-color: var(--card1);
  background-image: none;
  border: 1px solid black;
  -ms-word-break: normal;
  word-break: normal;
}

.input-container {
  display: block;
  margin: 10px;
}

.input-container textarea {
  font-family: var(--cardFont);
  background-color: var(--card1);
  border: 1px solid black;
  width: 80%;
  height: 70px;
}

.btn {
    background-color:transparent;
    border-radius:28px;
    border:1px solid #000000;
    cursor:pointer;
    color:#000000;
    font-family:var(--cardFont);
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
  }

.btn cancel {
  background-color:transparent;
  border-radius:28px;
  border:1px solid #000000;
  cursor:pointer;
  color:#000000;
  font-family:var(--cardFont);
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
}

.btn:hover {
  background-color:transparent;
}
.btn:active {
  position:relative;
  top:1px;
}


@media only screen and (max-width: 1200px) {
  .bridge-list-container {
    grid-template-columns: repeat(6, 120fr);
  }
}

@media only screen and (max-width: 1000px) {
  .bridge-list-container {
    grid-template-columns: repeat(5, 120fr);
  }
}

@media only screen and (max-width: 800px) {
  .bridge-list-container {
    grid-template-columns: repeat(4, 120fr);
  }
}

@media only screen and (max-width: 600px) {
  .bridge-list-container {
    grid-template-columns: repeat(3, 120fr);
  }
}

@media only screen and (max-width: 400px) {
  .bridge-list-container {
    grid-template-columns: repeat(2, 120fr);
  }
}