@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

:root {
  --dark: #000000;
  --primary: #551c15;
  --light: #136429;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #2c302d;
}

.header-container {
  background: url("brug2.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: top;
  transform-origin: center top;
}

.text-container {
  background-color: #00000094;
  padding-top: 100px; 
  padding-bottom: 100px; 
}

.text-container h1 {
  color: #ffffff;
  font-family: monospace;
  font-size: 40px;
  padding: 10px 10px 10px 10px;
  letter-spacing: 20px;
  text-align: center;
}

.text-container p {
  color: #ffffffe3;
  font-family: monospace;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}

.input-container {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.bridge-list-container {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 120fr);
  grid-template-rows: repeat(4, 200fr);
  grid-auto-flow: row;
  grid-row-gap: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #2c302d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  background-color: #00000000;
  margin: auto 0;
  width: 140px;
  height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  margin-top: 10px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
}

.card__inner.is-flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card__face--front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__face--back {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__content {
  background-color: #000000;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 140px;
  grid-template-columns: 140px;
  -ms-grid-rows: 70px 0px 100px 0px 50px;
  grid-template-rows: 70px 100px 50px;

}

.card__header {
  color: #ffffff;
  height: 65px;
  width: 140px;
  position: relative;
  text-align: center;
  padding: 12px 10px 15px;
  font-size: 8px;
  text-decoration: underline;
  letter-spacing: 1.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.card__body {
  margin: 0 auto;
  margin-top: 10px;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 15px 5px 0px 5px;
  font-size: 14px;
  background-color: #000000;
  color: white;
  border-radius: 5%;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon1 {
  color: white;
  margin-left: 10px;
  padding-top: 10px;
}

.icon2 {
  color: rgba(255, 255, 255, 0.199);
  margin-right: 10px;
  padding-top: 10px;
}

.input-search {
  margin-top: 10px;
} 

nav {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  padding-bottom: 12px;
  padding-top: 10px;
  padding-left: 5px;
}


nav ul {
padding: 0;
margin: 0;
list-style: none;
display: flex;
}

nav li {
margin: 0 40px 0 0;
opacity: .4;
transition: all 0.4s ease;
text-decoration: none;
color: #fff;
text-transform: uppercase;
display: block;
font-weight: 600;
letter-spacing: .2em;
font-size: 8px;
cursor: pointer;
padding-left: 10px;
padding-right: 10px;
}

nav li:hover {
opacity: 0.7;
}

nav li:active {
  opacity: 1;
}

nav li:last-child {
margin-right: 0;
}

.collection-wrapper {
  height: 100vh;
  margin: 0 auto;
}

.collection-wrapper h1 {
  text-align: center;
  padding-top: 200px;
}



.contact-wrapper {
  height: 100vh;
  margin: 0 auto;
}

.contact-wrapper h1 {
  text-align: center;
  padding-top: 200px;
}